@import '~@pxblue/colors/palette.scss';

.assessment {
  margin-top: -48px;
  width: 100vw;
  height: 100vh;
}

h2 {
  color: map-get($pxb-blue, 500);
}

.active {
  background-color: map-get($pxb-blue, 500);
  color: map-get($pxb-white, 50)
}

.stepper-title {
  text-align: center;
  margin: 16px auto 32px;
  color: map-get($pxb-black, 500);
}

.answer-card {
  cursor: pointer;
  user-select: none;
  flex: 1 1 !important;
}

.stepper-buttons {
  margin-top: 16px;
}

::ng-deep .mat-stepper-horizontal {
  height: calc(100vh - 64px) !important;
}

@media only screen and (max-width: 800px) {
  ::ng-deep .pxb-blue .mat-step-header .mat-step-label {
    display: none !important;
  }
}