@import '~@pxblue/colors/palette.scss';

.active {
  background-color: map-get($pxb-white, 700);
}

.stepper-title {
  text-align: center;
  margin: 16px auto;
}

.answer-card {
  cursor: pointer;
  user-select: none;
  flex: 1 1 !important;
}

.stepper-buttons {
  margin-top: 16px;
}

.main-content-wrapper {
  height: calc(100vh - 64px);
  max-width: 600px;
  padding: 32px;
  margin: 0 auto;
}

::ng-deep .mat-stepper-horizontal {
  height: calc(100vh - 64px) !important;
}

@media only screen and (max-width: 800px) {
  ::ng-deep .pxb-blue .mat-step-header .mat-step-label {
    display: none !important;
  }
}

@media only screen and (max-width:600px) {
  .main-content-wrapper {
    height: auto;
  }
}
