@import '~@pxblue/colors/palette.scss';

h2, .guide-link {
  color: map-get($pxb-blue, 500);
}

.guide-container, .result-item {
  width: 100%
}

.guide-container {
  margin-top: 8px;
}

.guide-link {
  margin-bottom: 0;
}

button {
  width: 100%;
}