@import '~@pxblue/colors/palette.scss';

.guide-link {
  color: map-get($pxb-blue, 500);
}

.guide-container, .result-item {
  width: 100%
}

.guide-container {
  margin-top: 8px;
}

.guide-link {
  margin-bottom: 0;
  &:hover {
    cursor: pointer;
  }
}

button {
  width: 100%;
}

@media only screen and (max-width:600px) {
  .arrow-icon {
    transform: rotate(-90deg);
  }

  ::ng-deep .pxb-list-item-tag {
    display: flex;
    width: 200px;
    height: 32px;
    justify-content: center;
    align-items: center;
  }
}