@import "~@pxblue/colors/palette.scss";

.main-image {
  width: 600px;
  height: 600px;
  max-width: calc(100vw - 64px);
  margin-bottom: 16px;
}

h2 {
  color: map-get($pxb-blue, 500);
}

.segment-definitions {
  margin-top: 8px;
}

.divider {
  border: 1px solid map-get($pxb-gray, 200);
  width: 100%;
  margin: 16px 0 16px;
}

li {
  margin-top: 8px;
}
